
mixin selection(type, name, id, label, value, is_checked)
    .selection
        input(type=type id=id name=name value=value || false checked=is_checked ? 'checked' : false)
        label(for=id)
            =label